*{
    padding: 0;
    margin: 0;
    overflow:hidden
}
body{
    overflow:hidden;

}
.bg1{
    /*background: url("../image/bg3.png") 100% 100% no-repeat;*/
}
@font-face {
    font-family: happy; /*这里是说明调用来的字体名字*/
    src: url('happy.ttf'); /*这里是字体文件路径*/
}

.dogBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}
.dogBox p{
    font-size: 0.74rem;
    color: rgb(234,108,0);
    text-align: center;
    width: 100%;
    margin: 2rem auto 0;
    padding:0;
    font-family: happy;
}
.daoqie{
    width: 1.4rem;
    height: 2.32rem;
    background: url("../image/shuiguodao.png");
    background-size: 100% 100%;
    position: fixed;
    z-index: 2000;
}
.dao{
    float: right;
    width: 1.4rem;
    height: 2.32rem;
    /*margin: 3.1rem 2.05rem 0 0;*/
    margin: 0.1rem 2.05rem 0 0;
    /*background: url("../image/shuiguodao.png");*/
    /*background-size: 100% 100%*/
    /*animation: circle 5s linear 0s infinite;*/
    transform-origin: 100% 100%;
    -webkit-animation: knife 0.8s linear 0s  infinite;
    animation: knife 0.8s linear 0s  infinite;
}
.dao img{
    width: 100%;
    height: 100%;

}
.dogBody{
    /*width: 7.88rem;*/
    height: 5.347rem;
    width: 100%;
    /*height: 100%;*/
    /*background-color: #333333;*/
    /*margin:5.3rem auto 0;*/
    margin: 2.3rem auto 0;
}
@keyframes circle {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}
@keyframes inner-circle{
    from{
        transform: rotate(360deg);
    }
}
@-webkit-keyframes knife {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}
@keyframes knife {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}


.dog1{
       width:2.73rem ;
    height: 1.4rem;
    /*right: 0.48rem;*/
    right: 1.54rem;
    bottom: 0;
    z-index: 999;
}
.dog2{
  width:  0.627rem;
    height: 0.587rem;
    /*right: 1.027rem;*/
    right: 2.087rem;
    top: 3.413rem;
    z-index: 1002;
}
.dog3{
    width: 3.213rem;
       height: 3.213rem;
    top: 0.787rem;
    /*left: 0;*/
    left: 1.06rem;
    z-index: 1001;
}
.dog4{
    width:1.72rem;
    height: 1.41rem;
    /*height: 1.41rem;*/
    /*left: 0.973rem;*/
    left: 2.033rem;
    top: 0;
    z-index: 1000;
}
.dog5{
        width: 3.867rem;
    height: 4rem;
    top: 0.68rem;
    /*left: 0.748rem;*/
    left: 1.808rem;
    z-index: 999;
}
.dog6{
    width: 4.09rem;
       height:3.227rem ;
    /*right: 0;*/
    right: 1.06rem;
    bottom: 0.573rem;
}
.dogBody{
    position: relative;
}
.dogBody img{
    position: absolute;
}
.xuxian{
    position: absolute;
    width:4.547rem;
    height:4.96rem;
    z-index: 1200;
    /*left: 2.09rem;*/
    left: 3.15rem;
    top: 0.24rem;
}
.xuxian img{
    width: 4.547rem;
    height:4.96rem;
}

.bgColor{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2200;
    background: rgba(0,0,0,0.3);
}
.bgColor .bg1{
    width: 10rem;
    height:8.69rem;
    /*background: url("../image/10.png");*/
    background-size: cover;
    margin: 1.72rem auto 2.7rem;
    position: relative;
}
.bgColor .bg1 p{
    top: 1.5rem;
    width: 100%;
    position: absolute;
    font-size: 0.48rem;
    font-family: happy;
    color: rgb(226,124,15);
    text-align: center;
    /*padding: 1rem auto ;*/
}
.bgbutton{
    width: 5.52rem;
    height: 1.827rem;
    background: url("../image/an-niu.png");
    background-size: cover;
    margin: 0 auto;
}


.bbtBox{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../image/bg1.png);
    background-size: 100% 100%;
    z-index: 4000;
}
.bbt{
    position: fixed;
    width: 4.54rem;
    height: 6.26rem;
    left: 2.73rem;
    /*top: 11.52rem;*/
    bottom: 0;
    z-index: 4001;
}
.likedog{
    padding: 0 0.5rem !important;
    width: 9rem !important;
    font-size: 0.54rem !important;
    margin-top: 0.5rem !important;
}